{% extends "main.html" %}
{% block content %}
</body>
</html>
<div class="anima">
    <div class="titulo"> 
        <h1>BÚSQUEDA DE LA RUTA MÁS ÓPTIMA</h1>
    </div>
    <div class="formulario">
        <form action="{{ url_for('busqueda')}}" method="post">
            <label for="metodo">Método de búsqueda:</label>
            <select name="metodo" id="metodo" class="form-control-select">
                <option value="id">Buscar por ID</option>
                <option value="name">Buscar por nombre</option>
                <option value="icao">Buscar por ICAO</option>
                <option value="iata">Buscar por IATA</option>
            </select>

            <label for="origen">Aeropuerto de Origen</label>
            <input 
                type="text" 
                class="form-control" 
                name="sourceAirportId" 
                placeholder="   Ingrese el aeropuerto de origen...">
            <label for="destino" class="dest">Aeropuerto de Destino</label>

            <input 
                type="text" 
                class="form-control" 
                name="destinationAirportId" 
                placeholder="  Ingrese el aeropuerto de destino...">
            <div class="botton_e_informacion">
                <button type="submit">Calcular</button>
            </div>
        </form>
    </div>
    <div class="result">
        <h3>Resultados: </h3>
        <div class="flex-column">
            <div>
                {% if origen %}
                    <p>Origen: {{ origen }}</p>
                {% endif %}
                
                {% if destino %}
                    <p>Destino: {{ destino }}</p>
                {% endif %}
            </div>
            
            <div>
                {% if distanciaDijkstra %}
                    <p>Distancia Dijsktra: {{ distanciaDijkstra }} km</p>
                {% endif %}
                
                {% if distanciaBFS %}
                    <p>Distancia BFS: {{ distanciaBFS }} km</p>
                {% endif %}
            </div>
        </div>


    </div>

</div>
<div class="map">
    <h2>MAPA CON ALGORITMO DIJKSTRA</h2>
    <iframe class="mapa" src="{{ url_for('mapDijkstra') }}"></iframe>
</div>
<div class="map1">
    <h2>MAPA CON MÉTODO BFS</h2>
    <iframe class="mapa" src="{{ url_for('mapBFS') }}"></iframe>
{#    <a href="{{ url_for('mapDijkstra') }}" target="_blank">Mapa de Dijsktra</a>#}
{#    <a href="{{ url_for('mapBFS') }}" target="_blank">Mapa de BFS</a>#}
</div>
<div class="datos">
    <br>
    <label>Anthony Botello | Jessica Comettant | Bruce Fleck</label>
    <br>
    <br>
    <label>UPC 2023</label>
</div>
{% endblock %}
