{% extends "main.html" %}

{% block content %}
<div>
    <h1>Rutas más cortas</h1>
    <h2> {{ caminobfs }} </h2>
    <h2> {{ caminodijkstra }} </h2>
    <form action="{{ url_for('index')}}" method="post">
        <label for="origen">Origen</label>
        <input type="text" class="form-control" name="sourceAirportId">
        <label for="destino">Destino</label>
        <input type="text" class="form-control" name="destinationAirportId">
        <button type="submit">Calcular</button>
    </form>
</div>
<h2 style="margin-top: 5vh;">Mapa con Dijkstra</h2>

<iframe class="mapa" src="{{ url_for('mapDijkstra') }}"></iframe>

<h2 style="margin-top: 10vh;">Mapa con BFS</h2>
<iframe class="mapa" src="{{ url_for('mapBFS') }}"></iframe>
{#    <a href="{{ url_for('mapDijkstra') }}" target="_blank">Mapa de Dijsktra</a>#}
{#    <a href="{{ url_for('mapBFS') }}" target="_blank">Mapa de BFS</a>#}

<div>
    <h2> {{ caminodijkstra }} </h2>
</div>

{% endblock %}