{% extends "main.html" %}
{% block content %}
</body>
</html>
<div class="anima">
    <div class="titulo"> 
        <h1>BÚSQUEDA DE LA RUTA MÁS ÓPTIMA</h1>
    </div>
    <div class="formulario">
        <form action="{{ url_for('index')}}" method="post">
            <label for="origen">Aeropuerto de Origen</label>
            <input type="text" class="form-control" name="sourceAirportId" placeholder="   Ingrese el aeropuerto de origen...">
            <label for="destino" class="dest">Aeropuerto de Destino</label>
            <input type="text" class="form-control" name="destinationAirportId" placeholder="  Ingrese el aeropuerto de destino...">
            <button type="submit">Calcular</button>
        </form>
    </div>
</div>
<div class="map">
    <h2>MAPA CON ALGORITMO DIJKSTRA</h2>
    <iframe class="mapa" src="{{ url_for('mapDijkstra') }}"></iframe>
</div>
<div class="map1">
    <h2>MAPA CON MÉTODO BFS</h2>
    <iframe class="mapa" src="{{ url_for('mapBFS') }}"></iframe>
{#    <a href="{{ url_for('mapDijkstra') }}" target="_blank">Mapa de Dijsktra</a>#}
{#    <a href="{{ url_for('mapBFS') }}" target="_blank">Mapa de BFS</a>#}
</div>
{% endblock %}
