<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_98b70b02383361e4186f1481c41f3f92 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_98b70b02383361e4186f1481c41f3f92" ></div>
        
</body>
<script>
    
    
            var map_98b70b02383361e4186f1481c41f3f92 = L.map(
                "map_98b70b02383361e4186f1481c41f3f92",
                {
                    center: [54.9132003784, 8.34047031403],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0939212031d0663b1df35233a76f4a8d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_98b70b02383361e4186f1481c41f3f92);
        
    
            var marker_098992d9c47d7d6887f5bda3c9f6915a = L.marker(
                [54.9132003784, 8.34047031403],
                {}
            ).addTo(map_98b70b02383361e4186f1481c41f3f92);
        
    
            var icon_25be774a9da3926f3aeec8ae5e8ec433 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_098992d9c47d7d6887f5bda3c9f6915a.setIcon(icon_25be774a9da3926f3aeec8ae5e8ec433);
        
    
        var popup_4deaf16619289889474d00cb5dbb97b9 = L.popup({"maxWidth": "100%"});

        
            
                var html_9e5aa5758e9ee88665cbbe70c16173f4 = $(`<div id="html_9e5aa5758e9ee88665cbbe70c16173f4" style="width: 100.0%; height: 100.0%;">Westerland Sylt Airport</div>`)[0];
                popup_4deaf16619289889474d00cb5dbb97b9.setContent(html_9e5aa5758e9ee88665cbbe70c16173f4);
            
        

        marker_098992d9c47d7d6887f5bda3c9f6915a.bindPopup(popup_4deaf16619289889474d00cb5dbb97b9)
        ;

        
    
    
            var marker_a5fb4bb665896233dbe5308f9fb38715 = L.marker(
                [53.630401611328004, 9.988229751586902],
                {}
            ).addTo(map_98b70b02383361e4186f1481c41f3f92);
        
    
            var icon_4fe715c6e32d6f0712714fdc31cc55f3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a5fb4bb665896233dbe5308f9fb38715.setIcon(icon_4fe715c6e32d6f0712714fdc31cc55f3);
        
    
        var popup_3ee8ff949447a364b0db7e46cc277721 = L.popup({"maxWidth": "100%"});

        
            
                var html_34ac39d17c2a076e3a496efe377650ff = $(`<div id="html_34ac39d17c2a076e3a496efe377650ff" style="width: 100.0%; height: 100.0%;">Hamburg Airport</div>`)[0];
                popup_3ee8ff949447a364b0db7e46cc277721.setContent(html_34ac39d17c2a076e3a496efe377650ff);
            
        

        marker_a5fb4bb665896233dbe5308f9fb38715.bindPopup(popup_3ee8ff949447a364b0db7e46cc277721)
        ;

        
    
    
            var marker_f6754ffc00d98ebb432e9fabc5a6e39a = L.marker(
                [59.80030059814453, 30.26250076293945],
                {}
            ).addTo(map_98b70b02383361e4186f1481c41f3f92);
        
    
            var icon_f087d3703dfb53ad26997a8b93c9d873 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f6754ffc00d98ebb432e9fabc5a6e39a.setIcon(icon_f087d3703dfb53ad26997a8b93c9d873);
        
    
        var popup_f61772624e3c40bbd99aaa112e94e329 = L.popup({"maxWidth": "100%"});

        
            
                var html_72a608308b73a72af82eb2dccb70b387 = $(`<div id="html_72a608308b73a72af82eb2dccb70b387" style="width: 100.0%; height: 100.0%;">Pulkovo Airport</div>`)[0];
                popup_f61772624e3c40bbd99aaa112e94e329.setContent(html_72a608308b73a72af82eb2dccb70b387);
            
        

        marker_f6754ffc00d98ebb432e9fabc5a6e39a.bindPopup(popup_f61772624e3c40bbd99aaa112e94e329)
        ;

        
    
    
            var marker_63bbcfbac429007e5276d58bf65b13a6 = L.marker(
                [43.449902, 39.9566],
                {}
            ).addTo(map_98b70b02383361e4186f1481c41f3f92);
        
    
            var icon_936b5fcde4ede0ed0a03615a0e470724 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_63bbcfbac429007e5276d58bf65b13a6.setIcon(icon_936b5fcde4ede0ed0a03615a0e470724);
        
    
        var popup_6bd744ee772205329063d8460415fb7d = L.popup({"maxWidth": "100%"});

        
            
                var html_8dfc646a6a25af7d8ffe977d71e74917 = $(`<div id="html_8dfc646a6a25af7d8ffe977d71e74917" style="width: 100.0%; height: 100.0%;">Sochi International Airport</div>`)[0];
                popup_6bd744ee772205329063d8460415fb7d.setContent(html_8dfc646a6a25af7d8ffe977d71e74917);
            
        

        marker_63bbcfbac429007e5276d58bf65b13a6.bindPopup(popup_6bd744ee772205329063d8460415fb7d)
        ;

        
    
    
            var poly_line_01255704bc4a850333f9165af268db29 = L.polyline(
                [[54.9132003784, 8.34047031403], [53.630401611328004, 9.988229751586902]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_98b70b02383361e4186f1481c41f3f92);
        
    
        var popup_c8731054649890354d001a94e10636b4 = L.popup({"maxWidth": "100%"});

        
            
                var html_96b86350f88d537bcc9da2274bc46700 = $(`<div id="html_96b86350f88d537bcc9da2274bc46700" style="width: 100.0%; height: 100.0%;">Distancia: 178.62899030945053</div>`)[0];
                popup_c8731054649890354d001a94e10636b4.setContent(html_96b86350f88d537bcc9da2274bc46700);
            
        

        poly_line_01255704bc4a850333f9165af268db29.bindPopup(popup_c8731054649890354d001a94e10636b4)
        ;

        
    
    
            var poly_line_1eed09b7d3c1688eb3133bedc80426de = L.polyline(
                [[53.630401611328004, 9.988229751586902], [59.80030059814453, 30.26250076293945]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_98b70b02383361e4186f1481c41f3f92);
        
    
        var popup_15d4c73f05051e5d021b86abd983cd0f = L.popup({"maxWidth": "100%"});

        
            
                var html_544354d32ffeb00777d44d7efe481e3a = $(`<div id="html_544354d32ffeb00777d44d7efe481e3a" style="width: 100.0%; height: 100.0%;">Distancia: 1410.7733414325937</div>`)[0];
                popup_15d4c73f05051e5d021b86abd983cd0f.setContent(html_544354d32ffeb00777d44d7efe481e3a);
            
        

        poly_line_1eed09b7d3c1688eb3133bedc80426de.bindPopup(popup_15d4c73f05051e5d021b86abd983cd0f)
        ;

        
    
    
            var poly_line_5f35614cdc8034ff500256dd813b29aa = L.polyline(
                [[59.80030059814453, 30.26250076293945], [43.449902, 39.9566]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_98b70b02383361e4186f1481c41f3f92);
        
    
        var popup_da9e152426b85a73b0665346b4e5df2a = L.popup({"maxWidth": "100%"});

        
            
                var html_354da01f364a6eac972d92b23e984ca5 = $(`<div id="html_354da01f364a6eac972d92b23e984ca5" style="width: 100.0%; height: 100.0%;">Distancia: 1934.26993140569</div>`)[0];
                popup_da9e152426b85a73b0665346b4e5df2a.setContent(html_354da01f364a6eac972d92b23e984ca5);
            
        

        poly_line_5f35614cdc8034ff500256dd813b29aa.bindPopup(popup_da9e152426b85a73b0665346b4e5df2a)
        ;

        
    
</script>
</html>