<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_95bff0d9aa0e38ccd83c0e03fef22646 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_95bff0d9aa0e38ccd83c0e03fef22646" ></div>
        
</body>
<script>
    
    
            var map_95bff0d9aa0e38ccd83c0e03fef22646 = L.map(
                "map_95bff0d9aa0e38ccd83c0e03fef22646",
                {
                    center: [36.2661018372, 120.374000549],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d76e4e06f7c1a413b04b18fec0620c73 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
            var marker_e25f486bfd61fc2aa0d8839206ca932c = L.marker(
                [36.2661018372, 120.374000549],
                {}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
            var icon_7a9ee67a0028270d8093b68aff5cd02a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e25f486bfd61fc2aa0d8839206ca932c.setIcon(icon_7a9ee67a0028270d8093b68aff5cd02a);
        
    
        var popup_cc4284134c193c1c6d4853e57f43e4ce = L.popup({"maxWidth": "100%"});

        
            
                var html_f0bb6042fefea6a19f1aabc67ce63c16 = $(`<div id="html_f0bb6042fefea6a19f1aabc67ce63c16" style="width: 100.0%; height: 100.0%;">Liuting Airport</div>`)[0];
                popup_cc4284134c193c1c6d4853e57f43e4ce.setContent(html_f0bb6042fefea6a19f1aabc67ce63c16);
            
        

        marker_e25f486bfd61fc2aa0d8839206ca932c.bindPopup(popup_cc4284134c193c1c6d4853e57f43e4ce)
        ;

        
    
    
            var marker_fd8109e73ef1b8ddcdbef8ff94f93057 = L.marker(
                [37.46910095214844, 126.45099639892578],
                {}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
            var icon_67bb48b6337b0e634cacf727874ced04 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fd8109e73ef1b8ddcdbef8ff94f93057.setIcon(icon_67bb48b6337b0e634cacf727874ced04);
        
    
        var popup_e6df198d9ee11ac23cb4de68bb9a2ef1 = L.popup({"maxWidth": "100%"});

        
            
                var html_f3f4a16f54b6c20ad6a6bd8369621a9a = $(`<div id="html_f3f4a16f54b6c20ad6a6bd8369621a9a" style="width: 100.0%; height: 100.0%;">Incheon International Airport</div>`)[0];
                popup_e6df198d9ee11ac23cb4de68bb9a2ef1.setContent(html_f3f4a16f54b6c20ad6a6bd8369621a9a);
            
        

        marker_fd8109e73ef1b8ddcdbef8ff94f93057.bindPopup(popup_e6df198d9ee11ac23cb4de68bb9a2ef1)
        ;

        
    
    
            var marker_4f4f1e95813e0998da187d28b3b1c1c8 = L.marker(
                [-27.38419914245605, 153.11700439453125],
                {}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
            var icon_4d7914de3cea9a9b62ded272f8e62a05 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4f4f1e95813e0998da187d28b3b1c1c8.setIcon(icon_4d7914de3cea9a9b62ded272f8e62a05);
        
    
        var popup_5d0a43af1ad154296818f6a3b742ddfe = L.popup({"maxWidth": "100%"});

        
            
                var html_cccd07da8c8f71240a34cb23dac5bd0e = $(`<div id="html_cccd07da8c8f71240a34cb23dac5bd0e" style="width: 100.0%; height: 100.0%;">Brisbane International Airport</div>`)[0];
                popup_5d0a43af1ad154296818f6a3b742ddfe.setContent(html_cccd07da8c8f71240a34cb23dac5bd0e);
            
        

        marker_4f4f1e95813e0998da187d28b3b1c1c8.bindPopup(popup_5d0a43af1ad154296818f6a3b742ddfe)
        ;

        
    
    
            var marker_34742417208fb3023e40651f97d19d4c = L.marker(
                [-9.4280004501343, 160.05499267578],
                {}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
            var icon_2702fdba3c778512274436c2f8d198ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_34742417208fb3023e40651f97d19d4c.setIcon(icon_2702fdba3c778512274436c2f8d198ce);
        
    
        var popup_e6539631ec1271ce3371989e1db5db45 = L.popup({"maxWidth": "100%"});

        
            
                var html_c7c51aafa7734a17e26b5c63826a6a3e = $(`<div id="html_c7c51aafa7734a17e26b5c63826a6a3e" style="width: 100.0%; height: 100.0%;">Honiara International Airport</div>`)[0];
                popup_e6539631ec1271ce3371989e1db5db45.setContent(html_c7c51aafa7734a17e26b5c63826a6a3e);
            
        

        marker_34742417208fb3023e40651f97d19d4c.bindPopup(popup_e6539631ec1271ce3371989e1db5db45)
        ;

        
    
    
            var marker_24e6ef7da8cafbcf8ff9d1a215856291 = L.marker(
                [-9.86166954041, 160.824996948],
                {}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
            var icon_a1f1d3283726fd90be665aeebb592bf7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_24e6ef7da8cafbcf8ff9d1a215856291.setIcon(icon_a1f1d3283726fd90be665aeebb592bf7);
        
    
        var popup_bfe707f7167f57a1923e4cbd567270ac = L.popup({"maxWidth": "100%"});

        
            
                var html_487ced53d7f8168080a7f5da4aa82660 = $(`<div id="html_487ced53d7f8168080a7f5da4aa82660" style="width: 100.0%; height: 100.0%;">Marau Airport</div>`)[0];
                popup_bfe707f7167f57a1923e4cbd567270ac.setContent(html_487ced53d7f8168080a7f5da4aa82660);
            
        

        marker_24e6ef7da8cafbcf8ff9d1a215856291.bindPopup(popup_bfe707f7167f57a1923e4cbd567270ac)
        ;

        
    
    
            var poly_line_bea5c52c11963094f4150cd1b747aade = L.polyline(
                [[36.2661018372, 120.374000549], [37.46910095214844, 126.45099639892578]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
        var popup_de41fb266fd8f15bb7e9a7ec02ed3506 = L.popup({"maxWidth": "100%"});

        
            
                var html_d4edeb52d96f327cdbcacc386b9d9b13 = $(`<div id="html_d4edeb52d96f327cdbcacc386b9d9b13" style="width: 100.0%; height: 100.0%;">Distancia: 557.9490612694493</div>`)[0];
                popup_de41fb266fd8f15bb7e9a7ec02ed3506.setContent(html_d4edeb52d96f327cdbcacc386b9d9b13);
            
        

        poly_line_bea5c52c11963094f4150cd1b747aade.bindPopup(popup_de41fb266fd8f15bb7e9a7ec02ed3506)
        ;

        
    
    
            var poly_line_5038e555ca3a371d15a2a4720de82567 = L.polyline(
                [[37.46910095214844, 126.45099639892578], [-27.38419914245605, 153.11700439453125]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
        var popup_4383caae9061cd0f7e7b6cc9f12ee87f = L.popup({"maxWidth": "100%"});

        
            
                var html_ebc01902732f8de32ca94b70ee355a29 = $(`<div id="html_ebc01902732f8de32ca94b70ee355a29" style="width: 100.0%; height: 100.0%;">Distancia: 7700.673862714713</div>`)[0];
                popup_4383caae9061cd0f7e7b6cc9f12ee87f.setContent(html_ebc01902732f8de32ca94b70ee355a29);
            
        

        poly_line_5038e555ca3a371d15a2a4720de82567.bindPopup(popup_4383caae9061cd0f7e7b6cc9f12ee87f)
        ;

        
    
    
            var poly_line_e0923d654db380a4ff7c2732c5be0d1b = L.polyline(
                [[-27.38419914245605, 153.11700439453125], [-9.4280004501343, 160.05499267578]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
        var popup_781ffb419e3181f22ae04e075de31c42 = L.popup({"maxWidth": "100%"});

        
            
                var html_4355669a26506939bf4a22cc8d39c480 = $(`<div id="html_4355669a26506939bf4a22cc8d39c480" style="width: 100.0%; height: 100.0%;">Distancia: 2117.08933654033</div>`)[0];
                popup_781ffb419e3181f22ae04e075de31c42.setContent(html_4355669a26506939bf4a22cc8d39c480);
            
        

        poly_line_e0923d654db380a4ff7c2732c5be0d1b.bindPopup(popup_781ffb419e3181f22ae04e075de31c42)
        ;

        
    
    
            var poly_line_950b7ea6aa670caf77031aa7d9abad19 = L.polyline(
                [[-9.4280004501343, 160.05499267578], [-9.86166954041, 160.824996948]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_95bff0d9aa0e38ccd83c0e03fef22646);
        
    
        var popup_44d9028ff4057447ba06762e5bdf9b6e = L.popup({"maxWidth": "100%"});

        
            
                var html_9c85c3870efe576f7b651a05a31ec341 = $(`<div id="html_9c85c3870efe576f7b651a05a31ec341" style="width: 100.0%; height: 100.0%;">Distancia: 97.1757879911809</div>`)[0];
                popup_44d9028ff4057447ba06762e5bdf9b6e.setContent(html_9c85c3870efe576f7b651a05a31ec341);
            
        

        poly_line_950b7ea6aa670caf77031aa7d9abad19.bindPopup(popup_44d9028ff4057447ba06762e5bdf9b6e)
        ;

        
    
</script>
</html>