<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fd2cb98bdc93ed27b0982e20737a6504 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_fd2cb98bdc93ed27b0982e20737a6504" ></div>
        
</body>
<script>
    
    
            var map_fd2cb98bdc93ed27b0982e20737a6504 = L.map(
                "map_fd2cb98bdc93ed27b0982e20737a6504",
                {
                    center: [-5.826789855957031, 144.29600524902344],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_044bfd6c4322ab7367ecaaff3664f38b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fd2cb98bdc93ed27b0982e20737a6504);
        
    
            var marker_9b96b12c1a39d8cb8e7a91f7b6cc633b = L.marker(
                [-5.826789855957031, 144.29600524902344],
                {}
            ).addTo(map_fd2cb98bdc93ed27b0982e20737a6504);
        
    
            var icon_2788620be24ecc824784bd5ad4441636 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9b96b12c1a39d8cb8e7a91f7b6cc633b.setIcon(icon_2788620be24ecc824784bd5ad4441636);
        
    
        var popup_e2f52cd75fee77b72438ca17904b06a3 = L.popup({"maxWidth": "100%"});

        
            
                var html_5e399e8375157ffbeb109d75b24d5739 = $(`<div id="html_5e399e8375157ffbeb109d75b24d5739" style="width: 100.0%; height: 100.0%;">Mount Hagen Kagamuga Airport</div>`)[0];
                popup_e2f52cd75fee77b72438ca17904b06a3.setContent(html_5e399e8375157ffbeb109d75b24d5739);
            
        

        marker_9b96b12c1a39d8cb8e7a91f7b6cc633b.bindPopup(popup_e2f52cd75fee77b72438ca17904b06a3)
        ;

        
    
    
            var marker_5589c53a259a1a1139a13d288056c45b = L.marker(
                [-6.569803, 146.725977],
                {}
            ).addTo(map_fd2cb98bdc93ed27b0982e20737a6504);
        
    
            var icon_97b5ff81631dc88e71ed43dbd4729181 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_5589c53a259a1a1139a13d288056c45b.setIcon(icon_97b5ff81631dc88e71ed43dbd4729181);
        
    
        var popup_7e202d412dcdd8fc340e4bff08035678 = L.popup({"maxWidth": "100%"});

        
            
                var html_54fa9bbf36b361835e6815f264eac6b8 = $(`<div id="html_54fa9bbf36b361835e6815f264eac6b8" style="width: 100.0%; height: 100.0%;">Nadzab Airport</div>`)[0];
                popup_7e202d412dcdd8fc340e4bff08035678.setContent(html_54fa9bbf36b361835e6815f264eac6b8);
            
        

        marker_5589c53a259a1a1139a13d288056c45b.bindPopup(popup_7e202d412dcdd8fc340e4bff08035678)
        ;

        
    
    
            var poly_line_db5c5033c3f7a6bcbc314a493d015b33 = L.polyline(
                [[-5.826789855957031, 144.29600524902344], [-6.569803, 146.725977]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_fd2cb98bdc93ed27b0982e20737a6504);
        
    
        var popup_28f632b324bceb16124a8f2e146a2ee1 = L.popup({"maxWidth": "100%"});

        
            
                var html_23a128848a4a351dc83d3bc8cc22a02e = $(`<div id="html_23a128848a4a351dc83d3bc8cc22a02e" style="width: 100.0%; height: 100.0%;">Distancia: 281.2 km</div>`)[0];
                popup_28f632b324bceb16124a8f2e146a2ee1.setContent(html_23a128848a4a351dc83d3bc8cc22a02e);
            
        

        poly_line_db5c5033c3f7a6bcbc314a493d015b33.bindPopup(popup_28f632b324bceb16124a8f2e146a2ee1)
        ;

        
    
</script>
</html>