<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_601834395be9dc013af0390ab3a5c3ee {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_601834395be9dc013af0390ab3a5c3ee" ></div>
        
</body>
<script>
    
    
            var map_601834395be9dc013af0390ab3a5c3ee = L.map(
                "map_601834395be9dc013af0390ab3a5c3ee",
                {
                    center: [54.9132003784, 8.34047031403],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a8ecb0827c24a98dfc34284fb62db644 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_601834395be9dc013af0390ab3a5c3ee);
        
    
            var marker_2dd378f6b320289cf721bd1734cc0290 = L.marker(
                [54.9132003784, 8.34047031403],
                {}
            ).addTo(map_601834395be9dc013af0390ab3a5c3ee);
        
    
            var icon_3cb8971b76390df4858e9bbc9ae8ac16 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2dd378f6b320289cf721bd1734cc0290.setIcon(icon_3cb8971b76390df4858e9bbc9ae8ac16);
        
    
        var popup_770ac904176d46189a3675ed277132f4 = L.popup({"maxWidth": "100%"});

        
            
                var html_d893b3fa505ca12af81cd85839da0704 = $(`<div id="html_d893b3fa505ca12af81cd85839da0704" style="width: 100.0%; height: 100.0%;">Westerland Sylt Airport</div>`)[0];
                popup_770ac904176d46189a3675ed277132f4.setContent(html_d893b3fa505ca12af81cd85839da0704);
            
        

        marker_2dd378f6b320289cf721bd1734cc0290.bindPopup(popup_770ac904176d46189a3675ed277132f4)
        ;

        
    
    
            var marker_c148facc19b716efd60f7532e062f203 = L.marker(
                [53.630401611328004, 9.988229751586902],
                {}
            ).addTo(map_601834395be9dc013af0390ab3a5c3ee);
        
    
            var icon_91d7563bc167cc29c7deafcc0dac5970 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c148facc19b716efd60f7532e062f203.setIcon(icon_91d7563bc167cc29c7deafcc0dac5970);
        
    
        var popup_0eadbf6224f0e4aa279dcf4641bfca7b = L.popup({"maxWidth": "100%"});

        
            
                var html_ad55f52ed09ccad99e7e8b69fd7de344 = $(`<div id="html_ad55f52ed09ccad99e7e8b69fd7de344" style="width: 100.0%; height: 100.0%;">Hamburg Airport</div>`)[0];
                popup_0eadbf6224f0e4aa279dcf4641bfca7b.setContent(html_ad55f52ed09ccad99e7e8b69fd7de344);
            
        

        marker_c148facc19b716efd60f7532e062f203.bindPopup(popup_0eadbf6224f0e4aa279dcf4641bfca7b)
        ;

        
    
    
            var marker_70e708152bbd1a3ee3a891ac9a35812b = L.marker(
                [56.92359924316406, 23.971099853515625],
                {}
            ).addTo(map_601834395be9dc013af0390ab3a5c3ee);
        
    
            var icon_2adb2ca2943b6d8613a32f60bd6afcb5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_70e708152bbd1a3ee3a891ac9a35812b.setIcon(icon_2adb2ca2943b6d8613a32f60bd6afcb5);
        
    
        var popup_982abeadb7588df0cdd1f6e0b1abe0d1 = L.popup({"maxWidth": "100%"});

        
            
                var html_d855325799c25bb6addddffbf426e8da = $(`<div id="html_d855325799c25bb6addddffbf426e8da" style="width: 100.0%; height: 100.0%;">Riga International Airport</div>`)[0];
                popup_982abeadb7588df0cdd1f6e0b1abe0d1.setContent(html_d855325799c25bb6addddffbf426e8da);
            
        

        marker_70e708152bbd1a3ee3a891ac9a35812b.bindPopup(popup_982abeadb7588df0cdd1f6e0b1abe0d1)
        ;

        
    
    
            var marker_bfeb8488b84a62cfe29041275fd7d062 = L.marker(
                [55.40879821777344, 37.90629959106445],
                {}
            ).addTo(map_601834395be9dc013af0390ab3a5c3ee);
        
    
            var icon_6257169b79b5faf31ae2b58df4f1b7c0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_bfeb8488b84a62cfe29041275fd7d062.setIcon(icon_6257169b79b5faf31ae2b58df4f1b7c0);
        
    
        var popup_bcbe4d25f6def2b08f5da5b1fd92af00 = L.popup({"maxWidth": "100%"});

        
            
                var html_48ea02b7ddf541770ef0cc1c127878d5 = $(`<div id="html_48ea02b7ddf541770ef0cc1c127878d5" style="width: 100.0%; height: 100.0%;">Domodedovo International Airport</div>`)[0];
                popup_bcbe4d25f6def2b08f5da5b1fd92af00.setContent(html_48ea02b7ddf541770ef0cc1c127878d5);
            
        

        marker_bfeb8488b84a62cfe29041275fd7d062.bindPopup(popup_bcbe4d25f6def2b08f5da5b1fd92af00)
        ;

        
    
    
            var poly_line_2cf5d5bcfb214dd9bad9a653f8726944 = L.polyline(
                [[54.9132003784, 8.34047031403], [53.630401611328004, 9.988229751586902]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_601834395be9dc013af0390ab3a5c3ee);
        
    
        var popup_20b9bbc0a98dc3dcf5d1895fce6a7638 = L.popup({"maxWidth": "100%"});

        
            
                var html_eba235e1895c3d6908d1f6357bcb5b2c = $(`<div id="html_eba235e1895c3d6908d1f6357bcb5b2c" style="width: 100.0%; height: 100.0%;">Distancia: 178.62899030945053</div>`)[0];
                popup_20b9bbc0a98dc3dcf5d1895fce6a7638.setContent(html_eba235e1895c3d6908d1f6357bcb5b2c);
            
        

        poly_line_2cf5d5bcfb214dd9bad9a653f8726944.bindPopup(popup_20b9bbc0a98dc3dcf5d1895fce6a7638)
        ;

        
    
    
            var poly_line_51fb450dde4f9a68ae9fbfac59bc5e54 = L.polyline(
                [[53.630401611328004, 9.988229751586902], [56.92359924316406, 23.971099853515625]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_601834395be9dc013af0390ab3a5c3ee);
        
    
        var popup_0ada2bf89c2b16cee5ead336b4d51aa6 = L.popup({"maxWidth": "100%"});

        
            
                var html_36a60d439d2271faae3a2418fba7b344 = $(`<div id="html_36a60d439d2271faae3a2418fba7b344" style="width: 100.0%; height: 100.0%;">Distancia: 959.1054158939977</div>`)[0];
                popup_0ada2bf89c2b16cee5ead336b4d51aa6.setContent(html_36a60d439d2271faae3a2418fba7b344);
            
        

        poly_line_51fb450dde4f9a68ae9fbfac59bc5e54.bindPopup(popup_0ada2bf89c2b16cee5ead336b4d51aa6)
        ;

        
    
    
            var poly_line_4c1d1f48cf61a80415ba7947118b166a = L.polyline(
                [[56.92359924316406, 23.971099853515625], [55.40879821777344, 37.90629959106445]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_601834395be9dc013af0390ab3a5c3ee);
        
    
        var popup_0583d7e761bac1af5a343dfdaa8b7202 = L.popup({"maxWidth": "100%"});

        
            
                var html_5cdb90149e3277b0eb60fe3ca74f8bcb = $(`<div id="html_5cdb90149e3277b0eb60fe3ca74f8bcb" style="width: 100.0%; height: 100.0%;">Distancia: 880.3607964960004</div>`)[0];
                popup_0583d7e761bac1af5a343dfdaa8b7202.setContent(html_5cdb90149e3277b0eb60fe3ca74f8bcb);
            
        

        poly_line_4c1d1f48cf61a80415ba7947118b166a.bindPopup(popup_0583d7e761bac1af5a343dfdaa8b7202)
        ;

        
    
</script>
</html>